@media screen and (max-width:767px){
    .card_single{
        display: flex;
        width: 80%;
        margin: auto;
        flex-direction: column-reverse;
    }

    .card_single_left{
        width: 100%;
    }

    .card_single_right{
        width: 100%;
    }

    .card_single_title{
        height: 40px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 40px;
        color: #FACE23;
        text-align: center;
    }

    .card_single_img{
        margin-left: 0px;
    }
}


@media screen and (min-width:1024px){
    .card_single{
        display: flex;
        width: 80%;
        margin: auto;
    }

    .card_single_left{
        width: 50%;
        padding: 20px;
    }

    .card_single_right{
        width: 50%;
    }

    .card_single_title{
        height: 40px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 40px;
        color: #FACE23;
    }

    .card_single_img{
        margin-left: 20px;
    }
}